/*@media screen and (min-width:576px) {*/
/*    body {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*    }*/
/*    .nav-links{*/
/*        display:flex;*/
/*        flex-direction:column;*/
/*        justify-content:space-between;*/
/*        list-style:none;*/
/*    }*/
/*    .header-img >img{*/
/*        max-width:200px;*/
/*    }*/
/*    .main, .sub-section{*/
/*        max-width:200px;*/
/*    }*/
/*}*/
/*@media screen and (min-width:992px) {*/

/*}*/

/* cell */
@media screen and (max-width: 480px) {
    /* small */
    body{
        font-family: sans-serif;
    }
    .hidden-on-desktop {
        display: block;
        background-color:paleturquoise;
        padding: 15px;
        border: 1px solid gray;
        text-align: center;
        text-decoration: none;
        margin:10px;
    }
    h1{
        text-align: center;
    }
    .nav-links {
        display: flex; /* links top */
        padding: 5px; /* links bottom */
        margin:5px;
        list-style:none;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    li{
        margin: 5px;
        height:30px;
        width:100%;
        background-color: lightgray;
        text-align: center;
        padding: 10px 2px;
    }
    .header-img{
        margin: 9px;
        max-height:100%;
        max-width:100%;
    }
    img{
        height:224px;
        width:420px;
    }
    .main, .sub-section{
        margin: 10px;
        height:100px;
        width:95%;
    }
    .sub-section{
        padding:40px 0px;
        font-style: italic;
    }
    footer{
        padding:20px 10px;
    }
}

/* Desktop */
@media screen and (min-width: 481px) {
    /* larger than 480px */
    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        display: flex; /* inline-block elements on desktop */
        justify-content: space-between;
        align-items: center;
        list-style: none;

    }
    h1 {
        text-align: left;
        margin: 0;
        float: left;

    }
    .header-img {
        max-width: 100%;
        max-height: 100%;
        /*margin: auto;*/

    }
}
